<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Register Page</title>
  </head>
  <body class="d-flex align-items-center" style="min-height: 100vh;">
    <div class="container align-middle">
        <div class="row justify-center  ">
            <div class="col-md-12 border d-flex align-items-center" style="min-height: 500px;">
                <div class="mx-auto " style="width: 300px ">
                    <div>
                        <h4>Bir hesap olusturun</h4>
                    </div>
                    <form action="submit" method="post">

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                        </div>
                        <input type="text" class="form-control nameBox" placeholder="Name"  aria-label="Username" aria-describedby="basic-addon1" name="name">
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                        </div>
                        <input type="text" class="form-control surnameBox" placeholder="Surname" aria-label="Username" aria-describedby="basic-addon1" name="surname">
                      </div>
                      
                      <div class="input-group mb-3">
                        <input type="text" class="form-control mailBox" placeholder="E-mail" aria-label="Recipient's username" aria-describedby="basic-addon2" name="email">
                        <div class="input-group-append">
                          <!-- <span class="input-group-text" id="basic-addon2">@example.com</span> -->
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                        </div>
                        <input type="password" class="form-control passBox" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" name="password">
                      </div>
                      <button type="submit" class="btn btn-primary btn-sm btn-block signUpBtn" name="sendBtn">Sign Up</button>
                    </form>
                      <button class="btn btn-secondary btn-sm btn-block backToLoginBtn mt-2" onclick="backToLogin()" name="backToLoginBtn">Back to Login</button>
                      <p class="text-danger text-center mt-2">
                        <%= errorMessage %>
                      </p>
                    </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
   
  
    <script>
      function backToLogin(){
        window.location.href = "/";
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>